* {
	margin: 0;
	padding: 0;
}
div:first-child {
	width: 100%;
	background: rgba(255,255,255,0.14);
	text-align: center;
	padding: 8px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
div#first>a {
	text-decoration: none;
	color: skyblue;
	margin: 12px;
}
div#first>a:hover {
	color: aliceblue;
}
div#second {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}
body {
	background: url(wall.jpg);
	background-size: 100% 100%;
}
html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
h1 {
	font-size: 54px;
	color: #ffbd00;
	margin: 120px 0 0 0;
	font-family: arial;
	font-weight: lighter;
	line-height: 64px;
}
h2 {
	color: #00a5ff;
	margin: 12px 30%;
	font-size: 42px;
	width: 40%;
	font-family: fantasy;
	border-top: solid 1px rgba(255,255,255,0.4);
	padding: 12px;
}
h1>span {
	font-size: 42px;
	color: #ffeaae;
}
h1,h2,a {
	text-shadow: 3px 3px 2px #222;
}