* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
body {
    background: url(dragon.jpg);
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
}
div#main-div {
    width: 240px;
    margin: 0 auto;
    background: rgba(0,0,0,0.86);
    margin-top: 140px;
    border-radius: 12px;
    padding: 28px;
}
div#main-div form {
    display: flex;
    width: 100%;
    flex-direction: column;
}
h1 {
    color: #0093ff;
    text-align: center;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: solid 1px rgba(255,255,255,0.32);
}
input {
    margin: 6px 0;
    padding: 8px;
    width: 100%;  
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    background: rgba(255,255,255,0.2);
    transition: all 0.6s;
}
input:hover {
    background: rgba(255,255,255,0.4);
}
input[type="checkbox"]{
    width: auto;
}
label {
    color: #fff;
}
button.register-button {
    padding: 12px;
    width: 90px;
    margin: 12px auto;
    margin-bottom: 0;
    background: #0093ff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.8s;
}
button.register-button:hover {
    background: orange;
    color: #000;
}
.checkbox-div {
    text-align: center;
}
::placeholder {
    color: #ccc;
}