body {
	background: url(hd.jpg);
	background-size: cover;
	background-position: 0 -320px;
	background-repeat: no-repeat;
	padding-top: 120px;
	overflow: hidden;
}
.container {
	width: 1120px;
	margin: auto;
}
* {
	font-family: arial;
}
#selector-text {
	width: 50%;
	right: 25%;
	left: 25%;
	bottom: 60px;
	font-size: 120px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	text-shadow: 8px 8px 10px rgba(0,0,0,0.32);
}
#button-box {
	float: right;
	width: 25%;
}
table {
	float: left;
	width: 25%;
}
td {
	background: #f50007;
	border-radius: 6px;
	border: none;
	padding: 8px 12px;
	outline: none;
	width: 40px;
	text-align: center;
	margin: 12px auto;
	float: left;
	color: #fff;
	font-size: 20px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	transition: all 0.4s;
	margin: 6px;
}
button {
	background: #f50007;
	border-radius: 6px;
	border: none;
	padding: 8px 12px;
	outline: none;
	width: 60%;
	margin: 8px auto;
	float: right;
	color: #fff;
	font-size: 20px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	transition: all 0.4s;
	text-align: center;
}
button:hover,td:hover {
	cursor: pointer;
	background: #d60006;
}